<div class="center jumbotron">
<h1>GDPR App</h1>
<h2>
  Is the GDPR relevant to me ?
</h2>
<div>
	<h3>A yes to the below indicates that the GDPR is relevant for you</h3>
</div>

<ul>
	<li>Do you collect any form of personal data ?</li>
	<li>Do you store personal data in a computer or filing system ? </li>
</ul>
<h1> The Cost of GDPR</h1>
<p>The consequences of breaching EU data protection law escalate dramatically under the GDPR, which sets the maximum fine for a single breach at the greater of €20 million, or four percent of annual worldwide turnover </p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("datadragonlogo.png", alt: "Data Dragon logo"),
            'https://datadragonblog.wordpress.com' %>