<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-5">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div>
  	<h2>First Steps</h2>
  	<p>Risk Assesment </p>
  	<p>Risk Management Plan </p>
  	<p>Privacy Impact Assemet </p>
  	<p>User Access Requests</p>
  	<p>Privacy Breech Proceedure</p>
  	<p>Staff Training Proceedure</p>
  	<p>Third Party Proceedure</p>
  </div>
</div>